@charset "UTF-8";
/* line 1, ../sass/_header.sass */
.header {
  background: #c8b485;
  height: 60px;
}
/* line 4, ../sass/_header.sass */
.header .top-menu {
  float: left;
  height: 100%;
}
/* line 7, ../sass/_header.sass */
.header .top-menu .main-menu {
  display: block;
  float: left;
  position: relative;
  width: 70px;
  height: 60px;
  border-right: 1px solid #bba87b;
}
/* line 14, ../sass/_header.sass */
.header .top-menu .main-menu:hover {
  background-color: #d2c29b;
  cursor: pointer;
}
/* line 17, ../sass/_header.sass */
.header .top-menu .main-menu:hover .hamburger {
  margin: 18px 20px;
}
/* line 19, ../sass/_header.sass */
.header .top-menu .main-menu:hover .hamburger .line {
  margin-bottom: 7px;
}
/* line 21, ../sass/_header.sass */
.header .top-menu .main-menu .hamburger {
  width: 30px;
  height: 23px;
  margin: 20px;
}
/* line 25, ../sass/_header.sass */
.header .top-menu .main-menu .hamburger .line {
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  background: #453c25;
}
/* line 30, ../sass/_header.sass */
.header .top-menu ul.top-links {
  float: left;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* line 35, ../sass/_header.sass */
.header .top-menu ul.top-links li {
  list-style: none;
  float: left;
  border-right: 1px solid #bba87b;
  height: 100%;
}
/* line 40, ../sass/_header.sass */
.header .top-menu ul.top-links li .link {
  position: relative;
  height: 100%;
  line-height: 60px;
  padding: 18px 28px 18px 57px;
  text-decoration: none;
  color: #443b25;
  font-size: 18px;
  font-weight: 500;
}
/* line 49, ../sass/_header.sass */
.header .top-menu ul.top-links li .link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  margin-top: -8px;
  background: url(../images/inoculars.png) center center no-repeat;
  width: 20px;
  height: 14px;
}
/* line 58, ../sass/_header.sass */
.header .top-menu ul.top-links li .link:hover {
  font-weight: bold;
  background-color: #d2c29b;
  padding: 18px 22px 18px 57px;
}
/* line 62, ../sass/_header.sass */
.header .right-links {
  height: 100%;
  float: right;
}
/* line 65, ../sass/_header.sass */
.header .right-links .share-sign {
  float: left;
  height: 100%;
  padding: 20px;
  color: #453c25;
}
/* line 70, ../sass/_header.sass */
.header .right-links .facebook {
  float: left;
  background: url(../images/facebook.png) center center no-repeat;
  height: 100%;
  width: 34px;
  margin-right: 15px;
}
/* line 76, ../sass/_header.sass */
.header .right-links .facebook:hover {
  opacity: 0.8;
}
/* line 78, ../sass/_header.sass */
.header .right-links .twitter {
  float: left;
  background: url(../images/twitter.png) center center no-repeat;
  height: 100%;
  width: 34px;
  margin-right: 20px;
}
/* line 84, ../sass/_header.sass */
.header .right-links .twitter:hover {
  opacity: 0.8;
}

@media (max-width: 700px) {
  /* line 88, ../sass/_header.sass */
  .header {
    position: relative;
  }
  /* line 99, ../sass/_header.sass */
  .header .top-menu ul.top-links li .link {
    font-size: 4vw;
    padding: 15px 20px 15px 50px;
  }
  /* line 103, ../sass/_header.sass */
  .header .top-menu ul.top-links li .link:hover {
    padding: 15px 20px 15px 50px;
  }
  /* line 105, ../sass/_header.sass */
  .header .right-links {
    position: absolute;
    right: 0;
    top: 60px;
  }
  /* line 109, ../sass/_header.sass */
  .header .right-links .share-sign {
    font-size: 4.5vw;
    color: #fff;
    padding: 8px 20px;
  }
  /* line 113, ../sass/_header.sass */
  .header .right-links .facebook {
    width: 50px;
    background: url(../images/facebook-white-big.png) center center no-repeat;
  }
  /* line 117, ../sass/_header.sass */
  .header .right-links .twitter {
    width: 50px;
    background: url(../images/twitter-white-big.png) center center no-repeat;
  }
}
@media (max-width: 450px) {
  /* line 122, ../sass/_header.sass */
  .header {
    position: relative;
  }
  /* line 133, ../sass/_header.sass */
  .header .top-menu ul.top-links li .link {
    font-size: 4vw;
    padding: 15px 20px 15px 50px;
  }
  /* line 137, ../sass/_header.sass */
  .header .top-menu ul.top-links li .link:hover {
    padding: 15px 20px 15px 50px;
  }
  /* line 139, ../sass/_header.sass */
  .header .right-links {
    position: absolute;
    right: 0;
    top: 60px;
  }
  /* line 143, ../sass/_header.sass */
  .header .right-links .share-sign {
    padding: 15px 20px;
  }
  /* line 145, ../sass/_header.sass */
  .header .right-links .facebook {
    width: 25px;
    background-size: 25px;
  }
  /* line 149, ../sass/_header.sass */
  .header .right-links .twitter {
    width: 25px;
    background-size: 25px;
  }
}
/* line 1, ../sass/_footer.sass */
footer {
  height: 100px;
  background: #453c25;
}
/* line 4, ../sass/_footer.sass */
footer .footer-container {
  max-width: 1320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 10, ../sass/_footer.sass */
footer .footer-container ul.footer_menu {
  top: 50%;
  margin-top: -7px;
  position: absolute;
}
/* line 14, ../sass/_footer.sass */
footer .footer-container ul.footer_menu li {
  float: left;
  margin-left: 20px;
  list-style: none;
}
/* line 18, ../sass/_footer.sass */
footer .footer-container ul.footer_menu li a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
/* line 23, ../sass/_footer.sass */
footer .footer-container ul.footer_menu li a:hover {
  color: #ffdf06;
}
/* line 25, ../sass/_footer.sass */
footer .footer-container a.logo-wrapper {
  background: url(../images/logo-footer.png) center center no-repeat;
  width: 57px;
  height: 27px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13.5px;
  margin-left: -29px;
}
/* line 35, ../sass/_footer.sass */
footer .footer-container a.logo-wrapper:hover {
  background: url(../images/logo-footer-hover.png) center center no-repeat;
}
/* line 37, ../sass/_footer.sass */
footer .footer-container .right-links {
  float: right;
}
/* line 39, ../sass/_footer.sass */
footer .footer-container .right-links ul.social {
  margin-top: 12.5px;
}
/* line 41, ../sass/_footer.sass */
footer .footer-container .right-links ul.social li {
  float: right;
  margin-right: 14px;
  list-style: none;
}
/* line 45, ../sass/_footer.sass */
footer .footer-container .right-links ul.social li a {
  width: 26px;
  height: 27px;
  display: block;
}
/* line 49, ../sass/_footer.sass */
footer .footer-container .right-links ul.social li a.facebook {
  background: url(../images/facebook-white.png) center center no-repeat;
}
/* line 51, ../sass/_footer.sass */
footer .footer-container .right-links ul.social li a.facebook:hover {
  background: url(../images/facebook-white-hover.png) center center no-repeat;
}
/* line 53, ../sass/_footer.sass */
footer .footer-container .right-links ul.social li a.twitter {
  background: url(../images/twitter-white.png) center center no-repeat;
}
/* line 55, ../sass/_footer.sass */
footer .footer-container .right-links ul.social li a.twitter:hover {
  background: url(../images/twitter-white-hover.png) center center no-repeat;
}
/* line 57, ../sass/_footer.sass */
footer .footer-container .right-links .social-copy {
  font-size: 14px;
  font-weight: 400;
  color: #796b46;
  margin-top: 10px;
  display: inline-block;
  margin-right: 20px;
}

@media (max-width: 700px) {
  /* line 68, ../sass/_footer.sass */
  footer .footer-container ul.footer_menu {
    padding: 0;
    top: 20%;
    margin-top: 0px;
  }
  /* line 72, ../sass/_footer.sass */
  footer .footer-container ul.footer_menu li {
    float: none;
  }
  /* line 74, ../sass/_footer.sass */
  footer .footer-container ul.footer_menu li a {
    font-size: 2.5vw;
  }
  /* line 84, ../sass/_footer.sass */
  footer .footer-container .right-links .social-copy {
    font-size: 3.5vw;
  }
}
/* line 1, ../sass/_overview.sass */
.page-overview {
  font-family: "Open Sans", sans-serif;
}
/* line 4, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper {
  height: 420px;
  background: url(../images/background-desktop.png) center center no-repeat;
  background-size: cover;
}
/* line 8, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container {
  height: 100%;
  position: relative;
}
/* line 11, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles {
  position: absolute;
  bottom: 20px;
  color: #fff;
}
/* line 15, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles h4 {
  font-size: 16px;
  text-transform: uppercase;
}
/* line 18, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles h1 {
  font-size: 50px;
  margin-top: 10px;
  font-weight: 300;
}
/* line 23, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles .info > span {
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 35px;
}
/* line 27, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles .info .label {
  font-size: 16px;
  padding: 0 20px 0 40px;
  position: relative;
  border-radius: 0;
  font-weight: 100;
}
/* line 33, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles .info .label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 3px;
}
/* line 40, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles .info .label.family {
  border-right: 1px solid #fff;
}
/* line 42, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles .info .label.family:before {
  background: url(../images/family.png) center center no-repeat;
}
/* line 44, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles .info .label.foodie {
  border-right: 1px solid #fff;
}
/* line 46, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles .info .label.foodie:before {
  background: url(../images/food.png) center center no-repeat;
}
/* line 48, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles .info .label.shopping {
  border-right: 1px solid #fff;
}
/* line 50, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles .info .label.shopping:before {
  background: url(../images/cart.png) center center no-repeat;
}
/* line 53, ../sass/_overview.sass */
.page-overview #wrapper .top-content-wrapper .container .titles .info .label.pet:before {
  background: url(../images/pet.png) center center no-repeat;
}
/* line 56, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview {
  margin-top: 40px;
  margin-bottom: 50px;
}
/* line 60, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top {
  width: 100%;
  height: 80px;
}
/* line 63, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .avatar {
  margin-right: 20px;
  float: left;
  width: 80px;
  height: 80px;
  background: url(../images/expert.png) center center no-repeat;
  border-radius: 5px;
}
/* line 70, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings {
  float: left;
}
/* line 72, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings h5.title {
  margin-top: 0;
  font-weight: bold;
}
/* line 75, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings .name {
  margin: 0;
}
/* line 78, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings .stars-wrapper .star {
  float: left;
  width: 15px;
  height: 15px;
  background: url(../images/star-white.png) center center no-repeat;
  background-size: 13px;
}
/* line 84, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings .stars-wrapper .star.yellow {
  background: url(../images/star-yellow.png) center center no-repeat;
  background-size: 13px;
}
/* line 88, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type {
  height: 20px;
  margin-top: 20px;
}
/* line 91, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type .left {
  width: 20%;
  float: left;
}
/* line 94, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type .percentage {
  width: 60%;
  height: 10px;
  margin: 5px 0;
  border: 1px solid #dfdcb0;
  border-radius: 5px;
  float: left;
}
/* line 101, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type .percentage .percentage-inner {
  margin: 1px;
  height: 6px;
  background: #b9e005;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 111, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type .percentage .percentage-inner.per-55 {
  width: 55%;
}
/* line 113, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type .percentage .percentage-inner.per-70 {
  width: 70%;
}
/* line 115, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type .percentage .percentage-inner.per-35 {
  width: 35%;
}
/* line 117, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type .right {
  width: 20%;
  float: right;
  text-align: right;
}
/* line 121, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview h5.article-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
}
/* line 125, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview p {
  line-height: 1.5;
  margin-bottom: 0;
}
/* line 128, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .show-more {
  font: normal normal normal 20px/1 FontAwesome;
  height: 10px;
  text-align: center;
}
/* line 132, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .show-more:after {
  color: #2158d5;
  content: "";
}
/* line 135, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .article-overview .show-more:hover {
  cursor: pointer;
}
/* line 138, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview {
  background: #f5f4e2;
  padding: 40px 0 15px;
  margin: 10px auto 40px auto;
  border: 1px solid #e4e3d2;
  border-radius: 10px;
}
/* line 144, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .day-wrapper {
  margin-top: -20px;
}
/* line 146, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview input {
  display: none;
}
/* line 148, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview label {
  margin-left: -1px;
  padding: 0px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 70px;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  font-size: 20px;
  background: url(../images/ribbon.png) center center no-repeat;
  line-height: 55px;
  text-align: center;
  color: inherit;
}
/* line 162, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview label .expand {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #fff;
  border: 2px solid #fede06;
  border-radius: 15px;
  display: block;
  line-height: 26px;
  top: 50%;
  right: 60px;
  margin-top: -20px;
  font: normal normal normal 20px/1 FontAwesome;
}
/* line 175, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview label .expand:before {
  content: "";
  position: absolute;
  left: 7px;
  top: 4px;
}
/* line 182, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview input:checked + label .expand:before {
  content: "";
  left: 7px;
  top: 2px;
}
/* line 186, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview label:hover:after,
.page-overview #wrapper .content-wrapper .accordion-overview input:checked + label:hover:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
}
/* line 196, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content {
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
/* line 207, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div {
  position: absolute;
  width: 36%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #e4e3d2;
}
/* line 213, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div .image {
  background-size: cover;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 221, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div > p {
  padding: 15px 20px 5px;
  line-height: 1.2;
}
/* line 224, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div .show-on-map-wrapper {
  height: 50px;
  background: url(../images/ribbon-small.png) center center no-repeat;
  background-size: cover;
}
/* line 228, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div .show-on-map-wrapper .show-on-map {
  font-size: 14px;
  font-weight: 400;
  color: #ec4b36;
  display: block;
  line-height: 42px;
  position: relative;
  padding-left: 37px;
}
/* line 236, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div .show-on-map-wrapper .show-on-map:before {
  content: "";
  background: url(../images/pin-map.png) center center no-repeat;
  background-size: 10px;
  width: 10px;
  height: 15px;
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -7.5px;
}
/* line 247, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div .show-on-map-wrapper .show-on-map:hover, .page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div .show-on-map-wrapper .show-on-map:focus {
  text-decoration: none;
  color: inherit;
}
/* line 251, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content .map {
  height: 220px;
  background: #fff;
  left: 6%;
  top: 25px;
  background: url(../images/map.png) center center no-repeat;
  background-size: cover;
}
/* line 258, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-1 {
  height: 305px;
  background: #fff;
  right: 6%;
  top: 25px;
}
/* line 263, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-1 .image {
  height: 180px;
  background: url(../images/las-vegas.png) center center no-repeat;
  background-size: cover;
}
/* line 267, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-2 {
  height: 340px;
  background: #fff;
  left: 6%;
  bottom: 40px;
}
/* line 272, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-2 .image {
  height: 182px;
  background: url(../images/las-vegas-2.png) center center no-repeat;
  background-size: cover;
}
/* line 276, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-3 {
  height: 265px;
  background: #fff;
  right: 6%;
  bottom: 40px;
}
/* line 281, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-3 .image {
  height: 138px;
  background: url(../images/las-vegas-3.png) center center no-repeat;
  background-size: cover;
}
/* line 285, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview .tab-content .timeline {
  width: 94px;
  top: 40px;
  bottom: 40px;
  left: 45%;
  background: url(../images/timeline-desktop.png) center center no-repeat;
  box-shadow: none;
  border: none;
}
/* line 293, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .accordion-overview input:checked ~ .tab-content {
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  height: 670px;
}
/* line 300, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .bottom-content {
  position: relative;
  max-width: 370px;
  margin: auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
}
/* line 307, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .bottom-content:before {
  content: "";
  background: url(../images/route.png) center center no-repeat;
  width: 193px;
  height: 74px;
  display: block;
  position: absolute;
  top: 0px;
  left: 50%;
  right: 0;
  margin-left: -96.5px;
}
/* line 319, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .bottom-content .create-contest h3.header {
  font-size: 20px;
  font-weight: 600;
  color: #3d380a;
  margin-bottom: 20px;
  background: none;
  height: auto;
}
/* line 326, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .bottom-content .create-contest p {
  font-size: 14px;
  font-weight: 400;
  color: #3d380a;
  line-height: 18px;
  margin-bottom: 28px;
}
/* line 332, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .bottom-content .create-contest .create-contest {
  padding: 0 30px;
  font-size: 16px;
  font-weight: 400;
  color: #3d380a;
  background-color: #ffdf06;
  border: none;
  border-bottom: 2px solid #dfc40a;
  border-radius: 6px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 344, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .bottom-content .create-contest .create-contest:hover {
  opacity: 0.8;
}
/* line 346, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .bottom-content .create-contest .create-contest:active {
  border-bottom: none;
  border-top: 2px solid #dfc40a;
  background-color: #ffe534;
}
/* line 350, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .bottom-content .create-contest .create-contest:focus {
  outline: none;
}
/* line 352, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .bottom-content .create-contest .learn-more {
  font-size: 11px;
  font-weight: 400;
  color: #3d380a;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 25px;
}
/* line 359, ../sass/_overview.sass */
.page-overview #wrapper .content-wrapper .bottom-content .create-contest .learn-more:hover {
  text-decoration: none;
}

@media (max-width: 700px) {
  /* line 365, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper {
    background: url(../images/background-mobile.png) center center no-repeat;
    background-size: cover;
  }
  /* line 370, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper .container .titles h4 {
    font-size: 3vw;
  }
  /* line 372, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper .container .titles h1 {
    font-size: 9.5vw;
    font-weight: 400;
    margin-bottom: 20px;
  }
  /* line 377, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper .container .titles .info > span {
    font-size: 3vw;
    margin-right: 0px;
  }
  /* line 380, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper .container .titles .info .label {
    font-size: 3.5vw;
    padding: 0 30px 0 30px;
  }
  /* line 383, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper .container .titles .info .label span {
    display: none;
  }
  /* line 385, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper .container .titles .info .label:before {
    left: 18px;
  }
  /* line 398, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top {
    height: 100px;
  }
  /* line 400, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .avatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 5px;
  }
  /* line 406, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings h5.title {
    font-size: 3vw;
    color: #a1a094;
    font-weight: 400;
    margin: 0;
  }
  /* line 411, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings .name {
    font-size: 4.5vw;
    font-weight: 400;
  }
  /* line 415, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings .stars-wrapper .star {
    background-size: 20px;
    width: 22px;
    height: 20px;
  }
  /* line 419, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings .stars-wrapper .star.yellow {
    background-size: 20px;
  }
  /* line 422, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type {
    font-size: 4vw;
    height: 30px;
  }
  /* line 426, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type .percentage {
    margin: 10px 0;
  }
  /* line 433, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview h5.article-title {
    font-size: 4.5vw;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  /* line 437, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview p {
    font-size: 3vw;
  }
  /* line 443, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .day-wrapper {
    margin-top: -28px;
  }
  /* line 446, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview label {
    font-size: 3.5vw;
    height: 100px;
    background-size: cover;
    line-height: 84px;
  }
  /* line 451, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview label .expand {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #fff;
    border: 2px solid #fede06;
    border-radius: 20px;
    display: block;
    line-height: 26px;
    top: 50%;
    right: 25px;
    margin-top: -25px;
    font: normal normal normal 4vw/1 FontAwesome;
  }
  /* line 464, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview label .expand:before {
    left: 9px;
  }
  /* line 468, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview input:checked + label .expand:before {
    left: 9px;
  }
  /* line 475, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div {
    margin-top: 30px;
    position: static;
    width: 75%;
    margin-left: 22%;
  }
  /* line 480, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div .image {
    background-size: cover;
  }
  /* line 482, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div > p {
    font-size: 3vw;
  }
  /* line 484, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div .show-on-map-wrapper {
    display: none;
  }
  /* line 486, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .map {
    margin-left: 3%;
    width: 94%;
    height: 420px;
    background: url(../images/map-mobile.png) center center no-repeat;
    background-size: cover;
  }
  /* line 492, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-1 {
    height: 420px;
  }
  /* line 494, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-1 .image {
    height: 315px;
  }
  /* line 496, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-2 {
    height: 420px;
  }
  /* line 498, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-2 .image {
    height: 290px;
  }
  /* line 500, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-3 {
    height: 380px;
  }
  /* line 502, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-3 .image {
    height: 290px;
  }
  /* line 504, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .timeline {
    margin-left: 2%;
    position: absolute;
    background: url(../images/timeline-mobile.png) center center no-repeat;
    left: 0;
    top: 450px;
    bottom: 0;
  }
  /* line 511, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview input:checked ~ .tab-content {
    height: 1800px;
  }
  /* line 513, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content {
    max-width: 400px;
    padding-top: 160px;
  }
  /* line 516, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content:before {
    background: url(../images/route-mobile.png) center center no-repeat;
    width: 400px;
    height: 150px;
    margin-left: -200px;
  }
  /* line 522, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content .create-contest h3.header {
    font-size: 4.5vw;
  }
  /* line 524, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content .create-contest p {
    font-size: 3vw;
  }
  /* line 526, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content .create-contest .create-contest {
    font-size: 3.5vw;
    line-height: 60px;
  }
  /* line 529, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content .create-contest .learn-more {
    display: none;
  }
}
@media (max-width: 450px) {
  /* line 535, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper {
    background: url(../images/background-mobile.png) center center no-repeat;
    background-size: cover;
    height: 300px;
  }
  /* line 542, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper .container .titles h1 {
    font-weight: 400;
    margin-bottom: 10px;
  }
  /* line 546, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper .container .titles .info > span {
    margin-right: 0px;
  }
  /* line 548, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper .container .titles .info .label {
    padding: 0 30px 0 30px;
  }
  /* line 550, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper .container .titles .info .label span {
    display: none;
  }
  /* line 552, ../sass/_overview.sass */
  .page-overview #wrapper .top-content-wrapper .container .titles .info .label:before {
    left: 18px;
  }
  /* line 563, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  /* line 567, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top {
    height: 60px;
  }
  /* line 569, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .avatar {
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 5px;
  }
  /* line 575, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings h5.title {
    color: #a1a094;
    font-weight: 400;
    margin: 0;
  }
  /* line 579, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings .name {
    font-weight: 400;
  }
  /* line 582, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings .stars-wrapper .star {
    background-size: 13px;
    width: 15px;
    height: 14px;
  }
  /* line 586, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-top .headings .stars-wrapper .star.yellow {
    background-size: 13px;
  }
  /* line 589, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type {
    height: 20px;
    margin-top: 15px;
  }
  /* line 593, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview .expert-wrapper .expert-bottom .type .percentage {
    margin: 4px 0;
  }
  /* line 600, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview h5.article-title {
    font-size: 4.5vw;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  /* line 604, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .article-overview p {
    font-size: 3vw;
  }
  /* line 609, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview {
    padding: 30px 0 5px;
  }
  /* line 611, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .day-wrapper {
    margin-top: -18px;
  }
  /* line 614, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview label {
    height: 60px;
    line-height: 50px;
  }
  /* line 617, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview label .expand {
    width: 25px;
    height: 25px;
    border: 1px solid #fede06;
    line-height: 26px;
    margin-top: -16px;
  }
  /* line 623, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview label .expand:before {
    left: 6px;
    top: -2px;
  }
  /* line 628, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview input:checked + label .expand:before {
    left: 6px;
    top: -2px;
  }
  /* line 636, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div {
    margin-top: 15px;
  }
  /* line 638, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div .image {
    background-size: cover;
  }
  /* line 640, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div > p {
    font-size: 3vw;
  }
  /* line 642, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content > div .show-on-map-wrapper {
    display: none;
  }
  /* line 644, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .map {
    margin-left: 3%;
    width: 94%;
    height: 250px;
    background: url(../images/map-mobile.png) center center no-repeat;
    background-size: cover;
  }
  /* line 650, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-1 {
    height: 250px;
  }
  /* line 652, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-1 .image {
    height: 180px;
  }
  /* line 654, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-2 {
    height: 250px;
  }
  /* line 656, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-2 .image {
    height: 150px;
  }
  /* line 658, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-3 {
    height: 250px;
  }
  /* line 660, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .place-3 .image {
    height: 150px;
  }
  /* line 662, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview .tab-content .timeline {
    margin-left: -2%;
    background-size: 36%;
    top: 200px;
  }
  /* line 666, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .accordion-overview input:checked ~ .tab-content {
    height: 1100px;
  }
  /* line 668, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content {
    max-width: 400px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  /* line 672, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content:before {
    background: url(../images/route-mobile.png) center center no-repeat;
    background-size: 80%;
    width: 300px;
    height: 100px;
    margin-left: -150px;
  }
  /* line 679, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content .create-contest h3.header {
    font-size: 4.5vw;
  }
  /* line 681, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content .create-contest p {
    font-size: 3vw;
  }
  /* line 683, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content .create-contest .create-contest {
    line-height: 40px;
    border-radius: 4px;
  }
  /* line 686, ../sass/_overview.sass */
  .page-overview #wrapper .content-wrapper .bottom-content .create-contest .learn-more {
    display: none;
  }
}
/* line 1, ../sass/_datails.sass */
.page-details {
  font-family: "Open Sans", sans-serif;
}
/* line 3, ../sass/_datails.sass */
.page-details #wrapper {
  height: calc(100vh - 160px);
}
/* line 5, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper {
  position: relative;
  float: left;
  width: 560px;
  height: 100%;
  box-sizing: border-box;
  margin-left: 0;
  left: 0;
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  -webkit-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  border-right: none;
}
/* line 18, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper.hidden-sidebar {
  left: -554px;
  border-right: 6px solid #ffdf06;
}
/* line 22, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper.hidden-sidebar a.toggle-sidebar:before {
  content: "";
  color: #443b25;
  font: normal normal normal 28px/1 FontAwesome;
}
/* line 26, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper a.toggle-sidebar {
  height: 43px;
  width: 35px;
  position: absolute;
  top: 33px;
  right: -35px;
  z-index: 1;
  background-color: #ffdf06;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 7px 11px 8px 14px;
  display: inline-block;
  box-shadow: rgba(223, 196, 10, 0.8) 0px 3px 1px;
  text-decoration: none;
}
/* line 40, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper a.toggle-sidebar:before {
  content: "";
  color: #443b25;
  font: normal normal normal 28px/1 FontAwesome;
}
/* line 44, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar {
  height: 100%;
  background-color: #fafaf2;
  padding: 40px 38px;
  overflow: auto;
  box-sizing: border-box;
}
/* line 50, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper {
  margin-bottom: 30px;
}
/* line 52, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper > a {
  margin-top: 5px;
  text-decoration: none;
  color: inherit;
  font: normal normal normal 20px/1 FontAwesome;
}
/* line 57, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper > a.arrow-prev {
  margin-left: 5%;
  float: left;
}
/* line 60, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper > a.arrow-prev:before {
  content: "";
}
/* line 62, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper > a.arrow-next {
  margin-right: 5%;
  float: right;
}
/* line 65, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper > a.arrow-next:before {
  content: "";
}
/* line 67, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper ul.date-select {
  width: 75%;
  height: 30px;
  margin: 0 auto;
  padding: 0;
}
/* line 72, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper ul.date-select li {
  list-style: none;
  float: left;
  width: 33.33333%;
  box-sizing: border-box;
}
/* line 77, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper ul.date-select li a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #443b25;
  line-height: 28px;
  border: 1px solid #ffdf06;
  background-color: #fff;
  text-align: center;
}
/* line 86, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper ul.date-select li a:hover {
  background-color: #ffdf06;
}
/* line 88, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper ul.date-select li a.date-1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 91, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper ul.date-select li a.date-2 {
  border-right: none;
  border-left: none;
}
/* line 94, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper ul.date-select li a.date-3 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 97, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper ul.date-select li a.active {
  background-color: #ffdf06;
}
/* line 99, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper ul.date-select li a:hover {
  text-decoration: none;
}
/* line 101, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event {
  background-color: #fff;
  border: 1px solid #e4e3d2;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
/* line 107, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .event-top {
  height: 45px;
  padding: 0 18px 0px 40px;
}
/* line 110, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .event-top .header {
  float: left;
  background: none;
  position: relative;
}
/* line 114, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .event-top .header:before {
  content: "";
  position: absolute;
  left: -32px;
  top: 5px;
  width: 20px;
  height: 18px;
}
/* line 121, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .event-top .header .title {
  font-size: 20px;
  font-weight: 400;
  color: #443b25;
}
/* line 125, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .event-top .header .address {
  font-size: 14px;
  font-weight: 400;
  color: #a1a094;
  margin-top: -3px;
}
/* line 130, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .event-top .time {
  float: right;
  font-size: 14px;
  font-weight: 400;
  color: #443b25;
}
/* line 135, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .event-top .time:before {
  content: "";
  font: normal normal normal 16px/1 FontAwesome;
  margin-right: 5px;
}
/* line 141, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .event-top.food .header:before {
  background: url(../images/food-dark.png) center center no-repeat;
}
/* line 145, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .event-top.shopping .header:before {
  background: url(../images/cart-dark.png) center center no-repeat;
}
/* line 149, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .event-top.pet .header:before {
  background: url(../images/pet-dark.png) center center no-repeat;
}
/* line 151, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .image {
  width: 100%;
  height: 260px;
  margin-top: 25px;
  background: url(../images/dish.png) center center no-repeat;
  background-size: cover;
}
/* line 157, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .description {
  font-size: 14px;
  font-weight: 400;
  color: #443b25;
  margin: 20px 20px 0;
  line-height: 16px;
}
/* line 163, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .description .show-more {
  font: normal normal normal 20px/1 FontAwesome;
  height: 10px;
  text-align: center;
}
/* line 167, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .description .show-more:after {
  color: #2158d5;
  content: "";
}
/* line 170, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .event .description .show-more:hover {
  cursor: pointer;
}
/* line 173, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .transport {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ffdf06;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 20px 0;
}
/* line 183, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .transport:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #ffdf06;
  top: -20px;
  left: 50%;
}
/* line 191, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .transport:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #ffdf06;
  bottom: -20px;
  left: 50%;
}
/* line 199, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .transport > div {
  font: normal normal normal 14px/1 FontAwesome;
  line-height: 38px;
}
/* line 203, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .transport .taxi:before {
  content: "";
}
/* line 206, ../sass/_datails.sass */
.page-details #wrapper .sidebar-wrapper .sidebar .transport .bus:before {
  content: "";
}
/* line 208, ../sass/_datails.sass */
.page-details #wrapper .map-wrapper {
  height: 100%;
  margin-left: 560px;
  position: relative;
  box-sizing: border-box;
  -moz-transition: margin-left 0.3s ease-in;
  -o-transition: margin-left 0.3s ease-in;
  -webkit-transition: margin-left 0.3s ease-in;
  transition: margin-left 0.3s ease-in;
}
/* line 217, ../sass/_datails.sass */
.page-details #wrapper .map-wrapper.hidden-sidebar {
  margin-left: 6px;
}
/* line 219, ../sass/_datails.sass */
.page-details #wrapper .map-wrapper #map {
  height: 100%;
  width: 100%;
}

@media (max-width: 700px) {
  /* line 226, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper {
    width: 100%;
  }
  /* line 228, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper.hidden-sidebar {
    left: -99%;
  }
  /* line 230, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper.hidden-sidebar a.toggle-sidebar {
    right: -47px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  /* line 236, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper.hidden-sidebar a.toggle-sidebar:before {
    font: normal normal normal 5.5vw/1 FontAwesome;
  }
  /* line 238, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper a.toggle-sidebar {
    right: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 60px;
    width: 47px;
    padding: 12px 11px 8px 14px;
  }
  /* line 247, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper a.toggle-sidebar:before {
    font: normal normal normal 5.5vw/1 FontAwesome;
  }
  /* line 249, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar {
    padding: 50px 3%;
  }
  /* line 251, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper {
    width: 90%;
    margin-bottom: 60px;
  }
  /* line 254, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper > a {
    font: normal normal normal 4.5vw/1 FontAwesome;
  }
  /* line 260, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper ul.date-select li a {
    font-size: 3vw;
    line-height: 2;
  }
  /* line 271, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .event .event-top .header .title {
    font-size: 4vw;
  }
  /* line 273, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .event .event-top .header .address {
    font-size: 3vw;
  }
  /* line 275, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .event .event-top .time {
    font-size: 3vw;
  }
  /* line 283, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .event .image {
    height: 330px;
  }
  /* line 285, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .event .description {
    font-size: 3vw;
  }
  /* line 289, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .transport {
    width: 55px;
    height: 55px;
    border: 2px solid #ffdf06;
    border-radius: 30px;
    margin: 20px 0;
  }
  /* line 295, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .transport:before {
    width: 2px;
  }
  /* line 297, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .transport:after {
    width: 2px;
  }
  /* line 299, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .transport > div {
    font: normal normal normal 4vw/1 FontAwesome;
    line-height: 2;
  }
  /* line 304, ../sass/_datails.sass */
  .page-details #wrapper .map-wrapper {
    margin-left: 100%;
  }
}
@media (max-width: 450px) {
  /* line 312, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper {
    width: 100%;
  }
  /* line 314, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper.hidden-sidebar {
    left: -99%;
  }
  /* line 316, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper.hidden-sidebar a.toggle-sidebar {
    right: -35px;
  }
  /* line 318, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper a.toggle-sidebar {
    top: 20px;
    right: 0px;
    height: 40px;
    width: 35px;
    padding: 10px 11px 8px 14px;
  }
  /* line 324, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar {
    padding: 25px 3%;
  }
  /* line 326, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper {
    width: 90%;
    margin-bottom: 30px;
  }
  /* line 329, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper > a {
    font: normal normal normal 4.5vw/1 FontAwesome;
  }
  /* line 335, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .date-wrapper ul.date-select li a {
    line-height: 2;
  }
  /* line 341, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .event {
    padding: 10px 0;
  }
  /* line 344, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .event .event-top .header {
    height: auto;
  }
  /* line 356, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .event .image {
    height: 250px;
    margin-top: 5px;
  }
  /* line 362, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .transport {
    width: 35px;
    height: 35px;
    border: 1px solid #ffdf06;
    border-radius: 30px;
  }
  /* line 367, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .transport:before {
    width: 1px;
  }
  /* line 369, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .transport:after {
    width: 1px;
  }
  /* line 371, ../sass/_datails.sass */
  .page-details #wrapper .sidebar-wrapper .sidebar .transport > div {
    font: normal normal normal 4vw/1 FontAwesome;
    line-height: 2;
  }
  /* line 376, ../sass/_datails.sass */
  .page-details #wrapper .map-wrapper {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  /* line 8, ../sass/styles.sass */
  .container {
    width: auto;
  }
}
@media (min-width: 992px) {
  /* line 11, ../sass/styles.sass */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 14, ../sass/styles.sass */
  .container {
    width: 970px;
  }
}

/*# sourceMappingURL=styles.css.map */
