.footer
  .bottom-menu
  .logo-wrapper
  .right-links
  %footer
    .footer-container
      %ul.footer_menu
        %li
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Itineraries
        %li
          %a{:href => "#"} About
      %a.logo-wrapper{:href => "#"}
      .right-links
        %ul.social
          %li
            %a.twitter{:href => "#"}
          %li
            %a.facebook{:href => "#"}
        .social-copy &copy; Wanderist 2014