%head
  %meta{:charset => 'utf-8'}
  %meta{:'http-equiv' => "X-UA-Compatible" , :content => "IE=edge"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1"}
  %title
  %link{:rel=>"stylesheet", :href=>"css/font-awesome.min.css"}
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"}
  %link{:href=>"css/bootstrap.min.css", :rel=>"stylesheet"}
  %link{:href=>"css/styles.css", :rel=>"stylesheet"}
  %script{:type=>"text/javascript", :src=>"js/jquery-2.2.0.js"}
  %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCLRhpld2jpQHXV1tTcQb1-9CBOt0NGSuQ"}
  %script{:src => "js/script.js"}