.header
  .top-menu
    .main-menu
      .hamburger
        .line
        .line
        .line
    %ul.top-links
      - @menu_items = {'index' => 'Overview', 'details' => 'Details'};
      - @menu_items.each do |key, value|
        %li
          %a{:class => "link #{key}", :href => "#{key}.html"} #{value}
  .right-links
    .share-sign Share this itinerary:
    %a.facebook{:href=>"#"}
    %a.twitter{:href=>"#"}